@use '@styles/constants' as const;
.blockMessages {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    .messages {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        scrollbar-color:  #D8D8D8 rgba(216,216,216,0.31);
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background-color: rgba(216,216,216,0.31);
            border-radius: 0;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #D8D8D8;
            border-radius: 0;
          }
    }
    .blockInputMessage {
        display: flex;
        padding-left: 15px;
        padding-right: 25px;
        padding-bottom: 15px;
        gap: 15px;
        .textarea{
            border-radius: 16px 4px 16px 4px;
            background-color: white;
            border: 1px solid const.$primary;
            box-shadow: 0px 0px 4px 0px const.$shadow;
            width: 100%;
            font-weight: 400;
            font-size: 18px;
            color: const.$text;
            padding-left: 15px;
            padding-right: 15px;
            height: 80px;
            padding-top: 10px;
            padding-bottom: 10px;
            resize: none;
        }
        .button {
            background-color: const.$primary;
            width: 80px;
            height: 80px;
            border-radius: 16px 4px 16px 4px;
            box-shadow: 0px 0px 4px 0px const.$shadow;
            padding-left: 12px;
            padding-right: 12px;
            padding-bottom: 12px;
            padding-top: 12px;
            cursor: pointer;
        }
    }
    
}