@use '@styles/constants' as const;
.blockRectangle {
    .subtitle {
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 12px;
    }
    .text {
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 5px;
    }
    .rectangle {
        background-color: rgba(241,225,137,0.1);
        border: 2px dashed const.$yellow;
        border-radius: 6px;
        display: flex;
        gap: 10px;
        padding-left: 10px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        &>div:nth-child(2) {
            flex-grow: 1;
        }
    }
}