@use '@styles/constants' as const;
.blockInput {
    display: block;
    color: const.$text;
    .text {
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 5px;
    }
    input {
        border-radius: 16px 4px 16px 4px;
        background-color: white;
        border: 1px solid const.$primary;
        box-shadow: 0px 0px 4px 0px const.$shadow;
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        padding-left: 15px;
        padding-right: 15px;
        height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .error {
        font-weight: 400;
        font-size: 14px;
        color: const.$error;
        margin-top: 10px; 
    }
}
.blockInputError {
    input {
        border: 1px solid const.$error;
    }
}