@use '@styles/constants' as const;
.ButtonMain {
    border-radius: 16px 4px 16px 4px;
    background-color: const.$primary;
    box-shadow: 0px 0px 4px 0px const.$shadow;
    color: white;
    font-weight: 400;
    font-size: 18px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.ButtonMainSecondary {
    background-color: const.$secondary;
}