@use '@styles/constants' as const;
.ContainerLogin {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 20px;
    .form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: const.$text;
        width: 550px;
        .title {
            font-weight: 400;
            font-size: 36px;
            text-align: center;
        }
        .blockButton {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .link {
                color: const.$primary;
            }
            &>button {
                width: 135px; 
            }
        }
    }
}
@media only all and (max-width: const.$mobile-width) {
    .ContainerLogin {
        padding-left: 20px;
        padding-right: 20px;
    }
}