@use '@styles/constants' as const;

.absoluteBlock {
    position: absolute;
    width: 120px;
    background: white;
    border-radius: 16px 4px 16px 4px;
    box-shadow: 0px 0px 4px 0px const.$shadow;
    padding-right: 10px;
    padding-left: 10px;
    top: 50px;
    right: 70px;
    .line {
        height: 1px;
        width: 100%;
        background-color: #979797;
    }
    .item {
        cursor: pointer;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: const.$text;
        font-weight: 400;
        font-size: 16px;
    }
}
@media only all and (max-width: const.$mobile-width) {
    .absoluteBlock {
        right: 10px;
    }
}