$primary: #01C5C4;
$secondary: #B8DE6F;
$error: #FF6C26;
$text: #6A6868;
$yellow: #F1E189;
$orange: #F39233;
$shadow: rgba(0,0,0,0.5);
$width-header: 50px;
$border-color: #979797;
$mobile-width: 1024px;