@use 'constants' as const;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
}
a {
    text-decoration: none;
}
input {
    border: none;
}
.error {
    color: const.$error;
}