@use '@styles/constants' as const;
.container {
    background-color: #E7E7E7;
    min-height: calc(100vh - const.$width-header);
    padding-left: 20px;
    padding-right: 20px;
    .layout {
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        background-color: white;
        min-height: calc(100vh - const.$width-header);
    }
}
@media only all and (max-width: const.$mobile-width) {
    .container {
        padding: 0;
    }
}