.dialog {
    display: block;
    padding-left: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1001;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .modal {
        position: relative;
        z-index: 1002;
    }
}