@use '@styles/constants' as const;
.header {
    width: 100%;
    height: const.$width-header;
    background: const.$primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {  
        font-weight: 400;
        font-size: 24px;
        margin-left: 70px;
        color: white;
    }
    .menuBlock {
        display: flex;
    }
    .buttonMenu {
        display: none;
        cursor: pointer;
        margin-left: 10px;
    }
    .login {
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
        margin-right: 70px;
        color: white;
    }
    .avatar {
        margin-right: 70px;
        cursor: pointer;
    }
    
}
@media only all and (max-width: const.$mobile-width) {
    .header { 
        .title {  
            margin-left: 10px;
        }
        .login {
            margin-right: 10px;
        }
        .avatar {
            margin-right: 10px;
        }
        .buttonMenu {
            display: flex;
            align-items: center;
        }
    }
}