@use '@styles/constants' as const;
.profile {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;
    padding-bottom: 20px;
    .mainTitle {
        color: const.$text;
        font-weight: 400;
        font-size: 36px;
        margin-left: auto;
        margin-right: auto;
    }
    .blockUserData {
        display: flex;
        flex-direction: row;
        font-weight: 400;
        color: const.$text;
        margin-top: 20px;
        .userData {
            margin-left: 15px;
            .login {    
                font-size: 24px;
            }
            .email {
                font-size: 14px;
            }
            .expairAt {
                margin-top: 10px;
                font-size: 14px;
            }
        }
    }
    .blockMessageStatistics {
        margin-top: 30px;
        color: const.$text;
        font-weight: 400;
        .title {
            font-size: 24px;
            text-align: center;
        }
        .button {
            display: flex;
            justify-content: right;
        }
    }
}
@media only all and (max-width: const.$mobile-width) {
    .profile {
        padding-left: 20px;
        padding-right: 20px;
    }
}