@use '@styles/constants' as const;
.blockRooms {
    max-width: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid const.$border-color; 
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background-color: white;
    .blockTitle {
        background-color: #FDFBF3;
        color: const.$text;
        font-weight: 400;
        font-size: 24px;
        width: 100%;
        .title {
            display: flex;
            justify-content: space-between;
            padding-left: 15px;
            padding-top: 15px;
            svg {
                margin-right: 15px;
                cursor: pointer;
            }    
        }
        .addRoom {
            padding-right: 15px;
            padding-left: 15px;
            padding-top: 15px;
            background-color: #FDFBF3;
            .button {
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }
    .horizontalLine {
        height: 1px;
        width: 100%;
        background-color: #979797;
    }
}
@media only all and (max-width: const.$mobile-width) {
    .blockRooms {
        display: none;
    }
    .blockRoomsMobile {
        display: block;
        position: absolute;
        height: calc(100vh - const.$width-header);
    }
}