@use '@styles/constants' as const;
.typingUser{
    height: 30px;
    display: flex;
    flex-direction: row;
    color: const.$text;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
}