@use '@styles/constants' as const;
.room {
    width: 100%;
    border-bottom: 1px dashed const.$border-color;
    display: flex;
    cursor: pointer;
    .checkLine {
        width: 15px;
        height: 100%;
    }
    .checkedLine{
        background-color: const.$primary;
    }
    .title {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        color: const.$text;
        font-size: 18px;
        font-weight: 400;
    }
}