@use '@styles/constants' as const;
.blockAvatar {
    background-color: const.$yellow;
    border: 1px solid const.$text;
    color: white;
    font-weight: 400;
    font-size: 36px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        border-radius: 100%;
    }
}
.blockAvatarSmall {
    width: 38px;
    height: 38px;
    font-size: 14px;
    min-width: 38px;
}
.blockAvatarBig {
    width: 110px;
    height: 110px;
    min-width: 110px;
}