@use '@styles/constants' as const;
.blockMessage {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    max-width: 800px;
    width: 100%;
    margin-bottom: 10px;
    .messageText {
        box-shadow: 0px 0px 2px 0px const.$shadow;
        padding: 10px;
        color: white;
        font-weight: 400;
        font-size: 14px;
        white-space: pre-line;
        word-break: break-word;
    }
    .date {
        color: const.$text;
        font-weight: 400;
        font-size: 12px;
        margin-top: 5px;
    }
}
.blockMessageLeft {
    flex-direction: row;
    align-self: flex-start;
    justify-content: flex-start;
    .messageText {
        border-radius: 4px 16px 16px 16px;
        background-color: const.$primary;
    }
    .date {
        text-align: left;
    }
}
.blockMessageRight {
    flex-direction: row-reverse;
    align-self: flex-end;
    justify-content: flex-start;
    .messageText {
        border-radius: 16px 4px 16px 16px;
        background-color: const.$secondary;
    }
    .date {
        text-align: right;
    }
}